<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="{% static 'adaptive_signin.css' %}">
    <script src="https://kit.fontawesome.com/140219e2b5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="popup">
        <div class="popup">
            <div class="popup_form">
                <form method="POST" class="form">
                    {% csrf_token %}
                    <div class="input">
                        <label for="{{ form.username.id_for_label }}"><b>Логин</b></label>
                        {{ form.username }}
                    </div>

                    <div class="input">
                        <label for="{{ form.email.id_for_label }}"><b>Почта</b></label>
                        {{ form.email }}
                    </div>

                    <div class="input">
                        <label for="{{ form.password.id_for_label }}"><b>Пароль</b></label>
                        {{ form.password1 }}
                    </div>

                    <div class="input">
                        <label for="{{ form.password2.id_for_label }}"><b>Повторите пароль</b></label>
                        {{ form.password2 }}
                    </div>

                    <div class="input">
                        <label for="{{ form.checkbox.id_for_label }}">Запомнить меня</label>
                        {{ form.checkbox }}
                    </div>

                    <div class="input">
                        <input type="submit" value="Зарегистрироваться">
                    </div>

                    <p id="or">ИЛИ</p>

                    <div class="form_icons">
                        <img src="./icons/gmail.png" alt="">
                        <img src="./icons/facebook1 (1).png" alt="">
                        <img src="./icons/twitter.png" alt="">
                    </div>

                    <p>Уже зарегистрированы? <a href="{% url 'users:login' %}">Войдите</a> </p>
                </form>
            </div>
    </div>




</body>

</html>